[Unit]
Description=deepin application permission service

[Service]
Type=dbus
BusName=org.desktopspec.permission
ExecStart=/usr/bin/dde-permission-manager
Restart=on-failure

[Install]
WantedBy=default.target
