Source: deepin-permission-service
Section: devel
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 9),
   cmake,
   pkg-config,
   qtbase5-dev,
   libdtkwidget-dev,
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: deepin-permission-service
Architecture: all
Depends: ${misc:Depends},
Built-Using: ${misc:Built-Using}
Description: Provides application resource management
 and control services for the dde desktop environment. 
